@model IEnumerable<WebCamposDeportivos_V1._2.Models.User_Empresa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Usuario.nombres
            </td>
            <td>
                @item.Empresa.nombre
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.User_EmpresaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.User_EmpresaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.User_EmpresaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
