@model WebCamposDeportivos_V1._2.Models.Canchas

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle de campos</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deporte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deporte.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.detalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.detalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.horaApertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.horaApertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.horaCierre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.horaCierre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.costoPorHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.costoPorHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_cancha">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
