@model Web_CamposDeportivos__V2.Models.Usuarios

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Quitar Cliente</h1>

<h3>Realmente desea eliminar a este cliente?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuario)
        </dd>
        <dt class = "col-sm-2">
            contraseña
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.documento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.documento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.celular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.validacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.validacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_usuario" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
