@model WebCamposDeportivos_V1._2.Models.Reservas


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear Reserva</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="IdCancha" value="@ViewBag.IdCancha" />
            <input type="hidden" name="IdCliente" value="@ViewBag.IdCliente" />
            <div class="form-group">
                <input asp-for="ClienteID" type="text" class="form-control" name="nombreCliente" value="@ViewBag.nombreCliente" readonly hidden />
                @* <select asp-for="ClienteID" class="form-control" asp-items="@ViewBag.usuario"></select> *@
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="NombreEmpresa" value="@ViewBag.NombreEmpresa" readonly hidden />
            </div>
            <div class="form-group">
                <input asp-for="CampoID" type="text" class="form-control" name="deporteCampo" value="@ViewBag.deporteCampo" readonly hidden />
            </div>
            <div class="form-group">
                <label asp-for="fechaReserva" class="control-label">Fecha de la reserva</label>
                <input asp-for="fechaReserva" type="date" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="2023-12-31" />
                <span asp-validation-for="fechaReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="horaReserva" type="time" class="form-control" max="22:00" min="06:00" step="300" value="@ViewBag.HoraSeleccionada" readonly hidden />
                <span asp-validation-for="horaReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Costo de la cancha</label>
                <input type="text" class="form-control" value="@ViewBag.costoHora" id="cboCosto" readonly />
                <span asp-validation-for="total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numeroHoras" class="control-label">N&deg Horas</label>
                <input asp-for="numeroHoras" class="form-control" type="number" id="cbonumeroHoras" />
                <span asp-validation-for="numeroHoras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="total" class="control-label">Total</label>
                <input asp-for="total" type="number" class="form-control" value="@ViewBag.costoHora" id="cboTotal" readonly />
                <span asp-validation-for="total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (User.IsInRole("Administrador") || User.IsInRole("Supervisor") || User.IsInRole("Cliente"))
{
    <div>
        <a asp-action="Details" asp-controller="Canchas" asp-route-id="@ViewBag.IdCancha">Volver</a>
    </div>
}

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function (event) {

            let costo = Number($("#cboTotal").val()) || 0;

            $('#cbonumeroHoras').change(function () {
                let n_horas = Number($("#cbonumeroHoras").val()) || 0;

                let result = costo * n_horas;

                $("#cboTotal").val(result.toFixed(2));
            });
        });
    </script>
}