@model WebCamposDeportivos_V1._2.Models.Reservas

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Reservas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            
            @if (User.IsInRole("Cliente"))
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_reserva" />
            <div class="form-group">
                <select asp-for="ClienteID" hidden="hidden" class="form-control" asp-items="@ViewBag.usuario"></select>
            </div>
            <div class="form-group">
                <label asp-for="CanchaID" class="control-label">Nombre del Campo</label>
                <select asp-for="CanchaID" class="form-control" asp-items="@ViewBag.cancha"></select>
            </div>
            <div class="form-group">
                <label asp-for="fechaReserva" class="control-label">Fecha de la reserva</label>
                <input asp-for="fechaReserva" type="date" class="form-control" />
                <span asp-validation-for="fechaReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="horaReserva" class="control-label">Hora de la reserva</label>
                <input asp-for="horaReserva" type="time" class="form-control" />
                <span asp-validation-for="horaReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PagoID" class="control-label">Tipo de Pago</label>
                <select asp-for="PagoID" class="form-control" asp-items="@ViewBag.pago"></select>
            </div>
            <div class="form-group">
                <label asp-for="total" class="control-label">Costo total</label>
                <select asp-for="total" type="number" class="form-control" asp-items="@ViewBag.costo" disabled></select>
            </div>
            @* <div class="form-group">
                <label asp-for="estado" class="control-label">Estado</label>
                <select asp-for="estado" class="form-control" asp-items="@ViewBag.estado" disabled></select>
            </div> *@
            
            <div class="form-group">
                    <label asp-for="estado" class="control-label">Estado</label>
                <input asp-for="estado" class="form-control" type="text" value="Pendiente" readonly/>
            </div>
                    }
                    @if (User.IsInRole("Admin"))
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="id_reserva" />
                <div class="form-group">
                    <select asp-for="ClienteID" hidden="hidden" class="form-control" asp-items="@ViewBag.usuario"></select>
                </div>
                <div class="form-group">
                    <select asp-for="CanchaID" class="form-control" asp-items="@ViewBag.cancha" hidden></select>
                </div>
                <div class="form-group">
                    <input asp-for="fechaReserva" type="date" class="form-control" hidden/>
                    <span asp-validation-for="fechaReserva" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="horaReserva" type="time" class="form-control" hidden/>
                    <span asp-validation-for="horaReserva" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <select asp-for="PagoID" class="form-control" asp-items="@ViewBag.pago" hidden></select>
                </div>
                <div class="form-group">
                    <select asp-for="total" type="number" class="form-control" asp-items="@ViewBag.costo" hidden></select>
                </div>
                    <div class="form-group">
                    <label asp-for="estado" class="control-label">Estado</label>
                    <select asp-for="estado" class="form-control">
                        <option value="Pendiente" selected>Pendiente</option>
                        <option value="Ocupado">Ocupado</option>
                    </select>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
