@model IEnumerable<WebCamposDeportivos_V1._2.Models.Reservas>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Reservas</h1>

@if (User.IsInRole("Cliente"))
{
    <p>
        <a asp-action="Create">Nueva reserva</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Cliente
            </th>
            <th>
                Nombre del Campo
            </th>
            <th>
                Fecha de la Reserva
            </th>
            <th>
                Hora de la Reserva
            </th>
            <th>
                Tipo de Pago
            </th>
            <th>
                Total
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @item.Cliente.nombres
                </td>
                <td>
                    @item.Cancha.nombre
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horaReserva)
            </td>
                <td>
                    @item.Pago.Descripcion
                </td>
            <td>
                @item.Cancha.costoPorHora
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                    @if (User.IsInRole("Cliente") || User.IsInRole("Admin"))
                    {
                <a asp-action="Edit" asp-route-id="@item.id_reserva">Editar |</a>
                    }
                <a asp-action="Details" asp-route-id="@item.id_reserva">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.id_reserva">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
