@model WebCamposDeportivos_V1._2.Models.Canchas

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle del Campo</h1>

<div>
    <hr />
    <dl class="row">
            <dt class="col-sm-2">
                Empresa
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Empresa.nombre)
            </dd>
            <dt class="col-sm-2">
                Nombre
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.nombre)
            </dd>
            <dt class="col-sm-2">
                Deporte
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Deporte.nombre)
            </dd>
            <dt class="col-sm-2">
                Detalle
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.detalle)
            </dd>
        <dt class = "col-sm-2">
            Hora de Apertura
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.horaApertura)
        </dd>
        <dt class = "col-sm-2">
            Hora de Cierre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.horaCierre)
        </dd>
        <dt class = "col-sm-2">
            Costo por Hora
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.costoPorHora)
        </dd>
        <dt class = "col-sm-2">
            Estado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_cancha">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
