@model IEnumerable<WebCamposDeportivos_V1._2.Models.Canchas>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Campos</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deporte)
            </th>
            <th>
                Nombre del Campo
            </th>
            <th>
                Fecha de Inicio
            </th>
            <th>
                Fecha Final
            </th>
            <th>
                Hora de Apertura
            </th>
            <th>
                Hora de Cierre
            </th>
            <th>
                Costo por Hora
            </th>
            <th>
                Estado
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deporte.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.detalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horaApertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horaCierre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.costoPorHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_cancha">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id_cancha">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.id_cancha">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
